force-app/main/default/flows/Violation_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>GetVIN</name>
        <label>GetVIN</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vehicle__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Violation Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Violation Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Violation</name>
        <label>Create Violation</label>
        <locationX>776</locationX>
        <locationY>482</locationY>
        <inputAssignments>
            <field>Date_of_Violation__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notified_User_via_SMS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>VehicleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violation_Code__c</field>
            <value>
                <elementReference>$Record.Violation_Code_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violation_Geolocation__Latitude__s</field>
            <value>
                <elementReference>$Record.Violation_Geolocation_Lat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violation_Geolocation__Longitude__s</field>
            <value>
                <elementReference>$Record.Violation_Geolocation_Long__c</elementReference>
            </value>
        </inputAssignments>
        <object>Violation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>776</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Violation</targetReference>
        </connector>
        <filters>
            <field>VIN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VIN</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputAssignments>
            <assignToReference>VehicleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetVIN</targetReference>
        </connector>
        <object>Violation_Events__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VehicleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
