flows/flows.json
[{"id":"1c08c333.cdaebd","type":"tab","label":"Tardis Controller","disabled":false,"info":""},{"id":"f1a234a0.906ea8","type":"json","z":"1c08c333.cdaebd","name":"","property":"payload","action":"obj","pretty":true,"x":110,"y":280,"wires":[["a3c1dec3.d1dc7","1b3d6ef4.97fba1"]]},{"id":"a3c1dec3.d1dc7","type":"debug","z":"1c08c333.cdaebd","name":"STATUS AFTER JSON","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload.Orientation.Yaw","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":660,"wires":[]},{"id":"6f2f1233.ed2c0c","type":"debug","z":"1c08c333.cdaebd","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":420,"y":40,"wires":[]},{"id":"1b3d6ef4.97fba1","type":"switch","z":"1c08c333.cdaebd","name":"ACCELERATION X CHECK","property":"payload.Acceleration.LinearX","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":580,"wires":[["8f702e80.0c356"]]},{"id":"acf796e8.8e19f8","type":"function","z":"1c08c333.cdaebd","name":"GENERATE EVENT PAYLOAD","func":"msg.headers = {};\nmsg.headers={\n    'Content-Type': 'application/json'\n};\n\nmsg.payload =\n{\n  \"Violation\": {\n    \"VIN\": msg.payload.iPhoneName,\n    \"Date\":  msg.event.datetime,\n    \"Latitude\": Number(parseFloat(msg.payload.GPS.Latitude).toFixed(3)),\n    \"Longitude\": Number(parseFloat(msg.payload.GPS.Longitude).toFixed(3)),\n    \"Type\": \"VECTOR\",\n    \"Value\": Number(parseFloat(msg.payload.Acceleration.LinearX).toFixed(0)),\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":660,"wires":[["d5ef15d9.6736f8"]]},{"id":"d5ef15d9.6736f8","type":"json","z":"1c08c333.cdaebd","name":"EVENT JSON","property":"payload","action":"","pretty":false,"x":1260,"y":660,"wires":[["9711c6b7.725a28","a5a044d6.865398"]]},{"id":"a5a044d6.865398","type":"debug","z":"1c08c333.cdaebd","name":"EVENT PAYLOAD","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":1260,"y":480,"wires":[]},{"id":"8f702e80.0c356","type":"moment","z":"1c08c333.cdaebd","name":"","topic":"","input":"payload.Timestamp","inputType":"msg","inTz":"Asia/Kolkata","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DDTHH:mm:ssZ","locale":"POSIX","output":"event.datetime","outputType":"msg","outTz":"Asia/Kolkata","x":720,"y":640,"wires":[["acf796e8.8e19f8"]]},{"id":"9711c6b7.725a28","type":"http request","z":"1c08c333.cdaebd","name":"GENERATE EVENT","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://tardis-controllerv2.us-e1.cloudhub.io/tardisviolationservice/V2/violation","tls":"","persist":false,"proxy":"","authType":"","x":1080,"y":740,"wires":[[]]},{"id":"67fc8708.f880d8","type":"mqtt in","z":"1c08c333.cdaebd","name":"","topic":"tardis","qos":"2","datatype":"json","broker":"2e5106ec.35d27a","x":130,"y":100,"wires":[["6f2f1233.ed2c0c","267fb538.2d551a"]]},{"id":"267fb538.2d551a","type":"throttle","z":"1c08c333.cdaebd","name":"","throttleType":"count","timeLimit":"5","timeLimitType":"seconds","countLimit":"2","blockSize":0,"locked":false,"x":290,"y":160,"wires":[["f1a234a0.906ea8"]]},{"id":"2e5106ec.35d27a","type":"mqtt-broker","name":"VK1977","broker":"hairdresser.cloudmqtt.com","port":"15611","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]